<footer id="footer" *ngIf="router.url !== '/login'">
    <div class="col-lg-12 clearfix">
        <div class="col-lg-6 brand-wrapper">
            <h2>Coda Global Restaurant</h2>
            <p class="tagline">
                Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat co nsequat auctor eu in elit.
            </p>
        </div>
        <div class="col-lg-3 contact-details-wrapper">
            <p class="contact-details-title">
                Contact Us
            </p>
            <p class="contact-details address-link" title="View On Map">
                <a href="https://www.google.com/maps/place/London,+UK/@51.5285582,-0.2416809,11z/data=!3m1!4b1!4m5!3m4!1s0x47d8a00baf21de75:0x52963a5addd52a99!8m2!3d51.5073509!4d-0.1277583" target="_blank">
                    <i class="fa fa-map-marker"></i> 221, Baker Street
                </a>
            </p>
            <p class="contact-details">
                <i class="fa fa-phone"></i>(123) 456 7890
            </p>
            <p class="contact-details">
                <i class="fa fa-envelope"></i>support@codaglobal.com
            </p>
        </div>
        <div class="col-lg-3 social-links-wrapper">
            <p class="social-links-title">
                We're social
            </p>
            <p class="social-link-icon" title="Redirect link here">
                <i class="fa fa-facebook"></i>
            </p>
            <p class="social-link-icon" title="Redirect link here">
                <i class="fa fa-instagram"></i>
            </p>
            <p class="social-link-icon" title="Redirect link here">
                <i class="fa fa-twitter"></i>
            </p>
        </div>
    </div>
</footer>