<section class="home-section">

    <div class="col-lg-12 search-wrapper">
        <div class="col-lg-12 clearfix">
            <div class="col-lg-9 input-wrapper">
                <input type="text" placeholder="Enter Address to search" [(ngModel)]="searchKeyword">
            </div>
            <div class="col-lg-3 input-wrapper">
                <button class="btn search-btn" (click)="searchWithKeyword()"> 
                    <strong>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                        </svg>
                        SEARCH
                    </strong>
                </button>
            </div>
        </div>
    </div>

    <div class="spinner-border" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>
    <!-- Restaurant Begin -->
    <div  class="item-outer-wrapper row">
        <div *ngFor="let restaurant of restaurantList; let i = index" class="item-inner col-lg-6 clearfix">
            <div class="info-wrapper clearfix">
                <div class="col-lg-5 float-left">
                    <div class="img-wrapper">
                        <img [src]="restaurant.imgUrl">
                    </div>
                    <div class="title-wrapper">
                        <p class="restaurant-title">{{ restaurant.name }}</p>
                        <p class="restaurant-location">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                <path fill-rule="evenodd" d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                            {{restaurant.address.area}}</p>
                    </div>
                </div>
                <div class="col-lg-7 float-left right-content">

                    <div class="detail-row col-lg-12">
                        <div class="detail-item col-lg-12 float-left">
                            <div class="col-lg-12 detail-item-label float-center">                            
                                <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                    <path fill-rule="evenodd" d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                                <span class="location">{{restaurant.address.area}}</span></p>
                            </div>
                        </div>
                    </div>

                    <div class="detail-row col-lg-12">
                        <div class="detail-item col-lg-12 float-left">
                            <div class="col-lg-12 detail-item-label float-left">
                                <p class="timings">Availability: {{restaurant.availability}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="detail-row col-lg-12 item-footer">
                        <div class="detail-item col-lg-12 float-left">
                            <a class="btn contact-seller-btn" (click)="getMenu(restaurant)">
                                <i class="fa fa-info-circle"></i> View Details >>
                            </a>
                        </div>
                    </div>
                    <!-- Attributes/Features Section End -->
                </div>
            </div>
        </div>

      </div>
      <!-- <ngb-pagination *ngIf="totalSize" class="d-flex justify-content-center" (pageChange) = "onPageChange($event)" [collectionSize]="totalSize" [(page)]="page"></ngb-pagination> -->
    <!-- Property Item End -->

    <div *ngIf="isRestaurantDataEmpty === true" class="item-outer-wrapper empty-outer-wrapper col-lg-12">
        <div class="item-inner col-lg-10 offset-lg-1 clearfix">
            <div class="info-wrapper clearfix">
                <div class="col-lg-12 float-left">
                    <div class="img-wrapper empty-icon-wrapper">
                        <p>No Restaurant found</p>
                    </div>
                    <div class="title-wrapper">
                        <p class="restaurant-title">No Restaurant Found! Try adjusting your filters.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

